
body {
    background-color: #313734;
}

/*Alinhar barra de navegação de Home com localização*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#DBDADA;
    margin-top: -10px;
    margin-inline: -8px;
    font-family: Arial;
}


li {
    float: left;
    margin-top: 10px;
}

li a {
    color: #313734;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin: 12px;
    place-items: center;
}

li a:hover {
    background-color: #CE814D;
    border-radius: 10px;
}

#li1 {
    text-align: right;
    background-color: #CE814D;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 18px;
    margin: 5px
}
.imglogo {
    height: 70px;
    width: 70px;
    margin-left: 80px;
}

.capacenter {
    width: 25%;
    float: right;
    margin-top: -38.5%;
    margin-right: 12%;
    border-radius: 12px;
    border: solid #4D3C37 20px;
    display: inline-flex;
}
.imgcapa {
    width: 50%;
    background: #ccc;
    float: left;
    margin-left: -9px;
    border-radius: 12px;
    border: solid #4D3C37 20px;
}

td {
    margin: 20%;
}

h1 {
    font-family: Arial;
    color: white;
    font-size: 200%;
    place-items: center;
    display: grid;
}
