body {
    background-color: #313734;
}

/*Alinhar barra de navegação de serviços com localização*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#DBDADA;
    margin-top: -10px;
    margin-inline: -88px;
    font-family: Arial;
}


li {
    float: left;
    margin-top: 10px;
}

li a {
    color: #313734;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin: 12px;
    place-items: center;
}

li a:hover {
    background-color: #CE814D;
    border-radius: 10px;
}

#li1 {
    text-align: right;
    background-color: #CE814D;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 18px;
    margin: 5px
}
.imglogo {
    height: 70px;
    width: 70px;
    margin-left: 80px;
}

.header {
    background-color: #4D3C37;
    border-radius: 25px;
    padding: 5px;
    color: white;
    font-family: Arial;
    margin-top: 5px;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #313734;
}
.servicos {
    background-color: #4D3C37;
    border: 10px solid #313734;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
}
.servicos img {
    max-width: 100%;
    height: auto;
}

a li:hover{
    background-color: #CE814D;
    transition: 0.5s;
}